x64
.vs
.trash
.vscode
.obsidian
node_modules
_test
test
Python/share

cache/
work

Python/.venv/
Python/.idea/
Python/Lib/
Python/include/
Python/Scripts/
pyvenv.cfg
data
secret.*
*.exe
test.*
*.pyc

# Adobe

Adobe/dist
**/output

# Rust

.lock
target

# CPP

CPP/Web/Curl/curl-8.4.0

