x64
.vs
.trash
.vscode
.obsidian
node_modules
_test
test


cache/

Python/.venv/
Python/.idea/
Python/Lib/
Python/include/
Python/Scripts/
pyvenv.cfg
data
secret.*
*.exe
test.*
*.pyc

# Adobe

Adobe/dist


# Rust

.lock
target

