x64
.vs
.trash
.vscode
.obsidian
node_modules
_test



Python/**/Include
Python/**/Lib
Python/**/__pycache__
Python/**/Scripts
Python/**/.idea
pyvenv.cfg
data
secret.*
*.exe
test.*

# Adobe

Adobe/dist