<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录</title>

    <!-- Import style -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- Import icon -->

    <!-- Import Vue 3 -->
    <script src="//unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="//unpkg.com/element-plus"></script>
    <!-- Import ElementPlusIcons -->
    <script src="//unpkg.com/@element-plus/icons-vue"></script>

    <!-- Import custom style -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- modified from https://codesandbox.io/s/element-ui-login-page-forked-bbpohd?file=/src/components/Login.vue -->
    <div id="app">
      <div class="login">
        <el-card>
          <h2>登录</h2>
          <el-form class="login-form" :model="model" :rules="rules" ref="form" @submit.native.prevent="login">
            <el-form-item prop="username">
              <el-input prefix-icon="User" v-model="model.username" placeholder="用户名"></el-input>
            </el-form-item>
            <el-form-item prop="password">
              <el-input prefix-icon="Flag" v-model="model.password" placeholder="密码" type="password"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button :loading="loading" class="login-button" type="primary" native-type="submit" block>登录</el-button>
            </el-form-item>
            <a class="forgot-password" href="https://yuelili.com/">忘记密码 ?</a>
          </el-form>
        </el-card>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
