ssl_certificate /etc/letsencrypt/live/bot.yuelili.com/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/bot.yuelili.com/privkey.pem;

## 使用certbot

sudo yum update
sudo yum install certbot

## 申请
sudo certbot certonly --webroot -w /www/wwwroot/img.yuelili.com/ -d img.yuelili.com -d img.yuelili.com --email 435826135@qq.com
sudo certbot certonly --webroot -w /www/wwwroot/bot.yuelili.com/ -d bot.yuelili.com -d bot.yuelili.com --email 435826135@qq.com


## 自动更新
0 0,12 * * * root /usr/bin/certbot renew --quiet

