<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/globals.css" />
    <link rel="stylesheet" href="../css/info.css" />
</head>

<body>
    <div class="userinfo">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <div class="background-panel">
                    <img class="userinfo-background" src="../icons/userinfo-background.png" />
                </div>
                <div class="property-panel">
                    <div class="property-panel-left">
                        <div class="property-group">
                            <img class="img" src="../icons/power.png" />
                            <div class="property-value">{{user_info.power}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/sword.png" />
                            <div class="property-value">{{user_info.physical_attack}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/physical-defense.png" />
                            <div class="property-value">{{user_info.physical_defense}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/physical-critical-chance.png" />
                            <div class="property-value">{{user_info.physical_critical_chance}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/magical-critical-chance.png" />
                            <div class="property-value">{{user_info.magical_critical_chance}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/speed.png" />
                            <div class="property-value">{{user_info.speed}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/accuracy.png" />
                            <div class="property-value">{{user_info.accuracy}}</div>
                        </div>
                    </div>
                    <div class="property-panel-right">
                        <div class="property-group">
                            <img class="img" src="../icons/gold.png" />
                            <div class="property-value">{{user_info.gold}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/wand.png" />
                            <div class="property-value">{{user_info.magical_attack}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/magical-defense.png" />
                            <div class="property-value">{{user_info.magical_defense}}</div>
                        </div>

                        <div class="property-group">
                            <img class="img" src="../icons/magical-critical-damage.png" />
                            <div class="property-value">{{user_info.magical_critical_damage}}</div>
                        </div>

                        <div class="property-group">
                            <img class="img" src="../icons/physical-critical-damage.png" />
                            <div class="property-value">{{user_info.physical_critical_damage}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/luck.png" />
                            <div class="property-value">{{user_info.luck}}</div>
                        </div>
                        <div class="property-group">
                            <img class="img" src="../icons/evasion.png" />
                            <div class="property-value">{{user_info.evasion}}</div>
                        </div>
                    </div>
                </div>
                <div class="gamble-panel">
                    {% if user_info.gamble_times %}
                    {% for index in range(user_info.gamble_times) %}
                    <img class="gamble-image" src="../icons/gamble.png" alt="" />
                    {% endfor %}
                    {% else %}
                    <img class="gamble-image grayscale" src="../icons/gamble.png" alt="" />
                    {% endif %}
                </div>
                <div class="pk-panel">
                    {% if user_info.pk_times %}
                    {% for index in range(user_info.pk_times) %}
                    <img class="pk-image" src="../icons/pk.png" alt="" />
                    {% endfor %}
                    {% else %}
                    <img class="pk-image grayscale" src="../icons/pk.png" alt="" />
                    {% endif %}
                </div>
                <div class="equipment-panel">
                    {% if equipments %}
                    {% for equipment in equipments %}
                    <img class="img-2" src="../icons/{{ equipment.resource }}" />
                    {% endfor %}
                    {% else %}
                    <span>该角色暂未使用任何装备</span>
                    {% endif %}
                </div>
                <div class="character-panel">
                    <img class="avatar" src="../character/{{user_info.avatar_src}}" />
                </div>
                <div class="skill-panel">
                    {% if skillss %}
                    {%for skill in skills %}
                    <div class="skill-group">
                        <img class="skill-image" src="../icons/{{skill.resource}}" />
                        <div class="skill-description">{{skill.description}}</div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="skill-group">
                        <span>该角色暂未领悟任何技能</span>
                    </div>
                    {% endif %}
                </div>
                <div class="introduce-panel">
                    <div class="text-wrapper">{{ user_info.user_description}}</div>
                </div>
                <div class="title">角色面板</div>
                <div class="level">
                    LV
                    <br />
                    {{ user_info.level }}
                </div>
                <div class="honor">{{ user_info.honor }}</div>
                <div class="name">{{ user_info.name }}</div>
            </div>
        </div>
    </div>
</body>

</html>