<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/info.css">
</head>

<body>
    <div class="main">
        <div class="bg flex">
            <img src="../icons/bg3.png" alt="" />
            <img src="../icons/bg3.png" alt="" />
        </div>

        <div class="user-info flex text-small">
            <div class="flex column center user-info-left left">
                <div class="top flex">
                    <div class="health-bar">
                        <div class="current-health"
                            style="width: calc({{ attacker.current_health }} / {{ attacker.max_health }} * 100%)"></div>
                        <div class="health-text">{{ attacker.current_health }} / {{ attacker.max_health }}</div>
                    </div>
                    <div class="level bg-secondary">Lv99</div>
                </div>
                <div class="count flex space-between">
                    <img class="small" src="../icons/gamble.png" alt="" />
                    <img class="small" src="../icons/pk.png" alt="" />
                </div>
                <div class="middle">
                    <div class="avatar flex"><img src="../character/{{ attacker.avatar_src }}" alt="" /></div>
                </div>

                <div class="bottom">
                    <div class="flex space-between name" style="width: 100%;">
                        <div class="flex center">
                            <img class="small" src="../icons/name.png" alt="" />
                            <span class="username">{{ attacker.name }}</span>
                        </div>
                        <div class="flex center">
                            <img class="small" src="../icons/profession.png" alt="" />
                            <span>{{ attacker.profession }}</span>
                        </div>
                    </div>
                </div>


            </div>

            <div class="info flex column space-between">

                <div class="attribute-group flex">
                    <div class="flex center attribute">
                        <img class="small" src="../icons/power.png" alt="" />
                        <span>{{ attacker.power }}</span>
                    </div>
                    <div class="flex center attribute">
                        <img class="small" src="../icons/gold.png" alt="" />
                        <span>{{ attacker.gold }}</span>
                    </div>
                </div>


                <div class="attribute-group flex">
                    <div class="flex center attribute">
                        <img class="small" src="../icons/sword.png" alt="" />
                        <span>{{ attacker.physical_attack }}</span>
                    </div>

                    <div class="flex center attribute">
                        <img class="small" src="../icons/wand.png" alt="" />
                        <span>{{ attacker.magical_attack }}</span>
                    </div>
                </div>


                <div class="attribute-group flex">
                    <div class="flex center attribute">
                        <img class="small" src="../icons/physical-shield.png" alt="" />
                        <span>{{ attacker.physical_shield }}</span>
                    </div>
                    <div class="flex center attribute">
                        <img class="small" src="../icons/magical-shield.png" alt="" />
                        <span>{{ attacker.magical_shield }}</span>
                    </div>
                </div>


                <div class="attribute-group flex">
                    <div class="flex center attribute">
                        <img class="small" src="../icons/physical_critical_chance.png" alt="" />
                        <span>{{ attacker.physical_critical_chance }}</span>
                    </div>
                    <div class="flex center attribute">
                        <img class="small" src="../icons/physical_critical_damage.png" alt="" />
                        <span>{{ attacker.physical_critical_damage }}</span>
                    </div>
                </div>

                <div class="attribute-group flex">
                    <div class="flex center attribute">
                        <img class="small" src="../icons/magical_critical_chance.png" alt="" />
                        <span>{{ attacker.magical_critical_chance }}</span>
                    </div>
                    <div class="flex center attribute">
                        <img class="small" src="../icons/magical_critical_damage.png" alt="" />
                        <span>{{ attacker.magical_critical_damage }}</span>
                    </div>
                </div>
                <div class="attribute-group flex">
                    <div class="flex center attribute">
                        <img class="small" src="../icons/speed.png" alt="" />
                        <span>{{ attacker.speed }}</span>
                    </div>
                    <div class="flex center attribute">
                        <img class="small" src="../icons/luck.png" alt="" />
                        <span>{{ attacker.luck }}</span>
                    </div>
                </div>
                <div class="attribute-group flex">
                    <div class="flex center attribute">
                        <img class="small" src="../icons/accuracy.png" alt="" />
                        <span>{{ attacker.accuracy }}</span>
                    </div>
                    <div class="flex center attribute">
                        <img class="small" src="../icons/evasion.png" alt="" />
                        <span>{{ attacker.evasion }}</span>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>

</html>